<div class="container">
  <div class="row">
    <h1><%= @user.name %>'s Cart</h1>

    <% @user.carts.each do |cart| %>
    <div class="col-sm-3">
      <%= image_tag cart.product.image.url(:thumb) %>
      <p><%= cart.product.name %></p>
      <p>Price: $<%= cart.product.price %></p>
      <%= link_to "Remove from cart", product_cart_path(cart.product, cart), :data => {:confirm => "For sure?",
        :method => "delete"} %>
    </div>
    <% end %>
    <h3>Cart Total: $<%= @amount %></h3>
  </div>
  <%= form_tag charges_path do -%>
   <article>
       <%= label_tag 'amount', 'To Pay', class: 'amount' %>
       <%= label_tag 'amount', "$#{@amount}", class: 'amount-figure' %>
       <%= hidden_field_tag 'amount', @amount %>
   </article>

   <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
      data-key="<%= ENV.fetch('PUBLISHABLE_KEY') %>"
      data-description="Your payment description"
      data-amount="<%= @amount * 100 %>">
    </script>
  <% end %>
</div>
