<!DOCTYPE html>
<html>
  <head>
    <title>Valhalla Sports</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>">
          <%= image_tag 'x.png', class: 'x' %>
          <h4 class="message"><%= value %></h4>
        </div>
      <% end %>
    </div>

    <div class="nav-wrap">
      <div class="container-fluid dark">
        <header class="container no-padding">
          <div class="row">
            <div class="col-sm-8 no-padding">
              <h1 class="logo"><%= link_to 'VALHALLA', root_path%></h1>
              <ul id="store-nav">
                <li><%= link_to "Products", products_path, id: 'products-path', remote: true %></li>



              </ul>
            </div>
            <div class="col-sm-4 no-padding">
              <ul id="user-nav">
                <% if current_user %>
                <li><%= link_to "Sign Out", destroy_user_session_path, method: 'delete' %></li>
                <% else %>
                <li><%= link_to "Sign In", new_user_session_path %></li>
                <% end %>
                <% if current_user %>
                <li><%= link_to "Cart (#{current_user.carts.size})", carts_path %></li>
                <% end %>
              </ul>
            </div>
          </div>
        </header>
      </div>
      <div class="container-fluid product-drop">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 no-padding">
              <ul id="product-cat">
                <li><%= link_to "All", products_path %></li>
                <li><%= link_to "Boards", products_path(category: 'board') %></li>
                <li><%= link_to "Bindings", products_path(category: 'bindings') %></li>
                <li><%= link_to "Boots", products_path(category: 'boots') %></li>
                <li><%= link_to "Outerwear", products_path(category: 'outerwear') %></li>
                <li><%= link_to "Backcountry", products_path(category: 'backcountry') %></li>
                <li><%= link_to "Accessories", products_path(category: 'accessories') %></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="main-content">
      <%= yield %>
    </div>
  </body>
</html>
